<p style="color: green"><%= notice %></p>

<div>
  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p>
    Has made <%= pluralize(@user.ratings.count, "rating") %>, average rating <%= @user.average_rating %>
  </p>

  <p>
    <strong>ratings:</strong>
    <ul>
      <% @user.ratings.each do |r| %>
        <li>
          <%=r.beer.name %> <%= r.score %>
          <%= link_to "Delete", ratings_path(r.id), method: "delete" %>
        </li>
      <% end %>
    </ul>
  </p>


  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
