<%= form_with(model: style) do |form| %>
  <div>
    <%= form.label :name, class:"form-label", style: "display: block" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div>
    <%= form.label :description, class:"form-label", style: "display: block" %>
    <%= form.text_field :description, class:"form-control" %>
  </div>

  <div>
    <%= form.submit "Create style", class:"btn btn-primary" %>
  </div>
<% end %>
