<div id="<%= dom_id brewery %>">
  <h2>
    <%= link_to brewery.name, brewery %>
  </h2>

  <p>
    <i>
      Established in <%= brewery.year %>
    </i>
  </p>

  <p>
    <strong>Beer count:</strong>
    <%= brewery.beers.count %>
  </p>

  <% if brewery.count_ratings != 0 %>
    <p>
      This brewery has <% brewery.count_ratings %> <%= pluralize brewery.count_ratings, "rating" %> with an average of <%= brewery.average_rating%>
    </p>
  <% else %>
    <p>
      This brewery has no ratings
    </p>
  <% end %>

  <p>
  <% brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %>
  <% end %>
  </p>

</div>
